@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
  
<p>
        Please check your email to confirm your account.
</p>
    
    <form method="post">
    <p>
        Please enter your code here:
</p>
       <input asp-for="CodeForActivation" type="text" class="form-control" autocomplete="username" aria-required="true" />
       <input type="submit"/>
    </form>
    
}

