@page "{id?}"
@model MangaWeb.Pages.Mangas.CharacterModel
@{
    var characterRole = "";
}
@foreach(var character in Model.MangaCharacters){
    <img src="@character.ImageUrl" style="height:320px;width:225px;">
    <div>
        @Html.DisplayFor(model => character.Name)
        @{
            characterRole = character.IsMain == true ? "This is Main character" : "This is Supportig character";
        }
        @characterRole
        @Html.DisplayFor(model => character.Description )
        <br>
        @{
            foreach(var characterImage in character.ImagesUrls)
            {
                <img src="@characterImage" class="imageCharacterPage">
            }
   
    }
    </div>
}

