@page "/blazor"

@{
    Layout = "_Layout";
}
<body>
    <persist-component-state />
    <script src="~/_framework/blazor.server.js"></script>
</body>
<app>
    @(await Html.RenderComponentAsync<App>(RenderMode.Server))
</app>