@page "{handler?}"
@using MangaWeb.Areas.Identity.Data;
@using MangaWeb.Models;
@using MangaWeb.Pages.Shared
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.EntityFrameworkCore;
@model IndexModel
@inject IViewLocalizer Localizer
@inject MangaWebContext context;
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h2>@Html.Raw(Model.Localizer["Welcome"].Value.Replace("&#13;","<br>"))</h2>
    <h4>@Html.Raw(Model.Localizer["AppDesc"].Value.Replace("&#13;","<br><br>"))</h4>
</div>
@*<component type="typeof(Counter)" param-Title="zxc" render-mode="ServerPrerendered" />
<component type="typeof(CharactersPatial)" param-FullCharacters="manga.Characters" render-mode="ServerPrerendered" />
  *@
