@page
@model MangaWeb.Pages.Shared.UsersInfoModel



@{
foreach (var user in Model.Users)
{

       var base64 = Convert.ToBase64String(user.ProfileImage);
    var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
    <h2>@user.UserName</h2>
    <img class="usersInfoImage" src="@imgSrc" />
    <br />
}
}

