@page
@model UsersInfoModel



@{
foreach (var user in Model.Users)
{
        <a asp-page="./User" asp-route-id="@user.Id">
    <h2>@user.UserName</h2>
    <img class="usersInfoImage" src="@user.ProfileImage" />
        </a>
    <br />
}
}

