@page
@model MangaWeb.Pages.MangaPages.CreateModel
@{
}


<div style="display:inline-block;margin-left:auto;margin-right:auto;">
    <button class="w-40 btn btn-lg btn-primary" style="height: 200px;margin-left:10px;">
        <a style="text-decoration:none; font-size:50px; color:white;" asp-page="./CreateDefault">@Model.UIValuesManager.CreateManually</a>
    </button>
    <button class="w-40 btn btn-lg btn-primary" style="height: 200px;margin-left:10px;">
        <a style="text-decoration:none; font-size:50px; color:white;" asp-page="./CreateExpanded">@Model.UIValuesManager.CreateAuto</a>
    </button>
</div>

