@page
@model MangaWeb.Pages.MangaPages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div style="display:inline-block;margin-left:auto;margin-right:auto;">
    <button class="btn btn-lg btn-primary" style="height: auto;margin:10px; margin-bottom:10px;">
        <a style="text-decoration:none; font-size:50px; color:white;" asp-page="./CreateDefault">@Model.Localizer["CreateManually"].Value</a>
    </button>
    <button class="btn btn-lg btn-primary" style="height: auto; margin:10px; margin-bottom:10px;">
        <a style="text-decoration:none; font-size:50px; color:white;" asp-page="./CreateExpanded">@Model.Localizer["CreateAuto"].Value</a>
    </button>
</div>

